<template>
  <q-page class="q-pa-xs">
    <div class="col-12">
      <q-table title="Clientes" :columns="columns" :rows="clientes" :filter="filter">
        <template v-slot:body-cell-opciones="props">
          <q-td :props="props">
            <q-btn size="xs" @click="editarCliente(props.row)" label="Editar" icon="edit" color="warning"/>
            <q-btn size="xs" @click="eliminarCliente(props.row.id)" label="Eliminar" icon="delete" color="negative"/>
          </q-td>
        </template>
        <template v-slot:top-right>
          <q-input outlined dense debounce="300" v-model="filter" placeholder="Buscar">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
          <q-btn label="Nuevo" color="info" icon="add" @click="adicionarCliente"/>
        </template>
      </q-table>
    </div>
    <q-dialog v-model="formCrearCliente">
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <div class="text-h6">Adicionar Cliente</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-form @submit="guardarCliente">
            <div class="row">
              <div class="col-6">
                <q-input dense outlined label="Carnet de identidad" v-model="cliente.ci" />
              </div>
              <div class="col-6">
                <q-select outlined dense :options="extensiones" v-model="cargo" label="Extensión"></q-select>
              </div>
              <div class="col-6">
                <q-input dense outlined label="Nombres" v-model="cliente.nombre" />
              </div>
              <div class="col-6">
                <q-input dense outlined label="Apellido Paterno" v-model="cliente.paterno" />
              </div>
              <div class="col-6">
                <q-input dense outlined label="Apellido Materno" v-model="cliente.materno" />
              </div>
              <div class="col-6">
                <q-select outlined dense :options="estados_civiles" v-model="estado_civil" label="Estado Civil"
                option-value="id" option-label="estado" emit-value map-options></q-select>
              </div>
              <div class="col-6">
                <q-input dense outlined label="Nombre del Conyugue"  v-model="cliente.conyugue_nombre"/>
              </div>
              <div class="col-6">
                <q-input dense outlined label="Apellido Paterno del Conyugue"  v-model="cliente.conyugue_paterno"/>
              </div>
              <div class="col-6">
                <q-input dense outlined label="Apellido Materno del Conyugue"  v-model="cliente.conyugue_materno"/>
              </div>
              <div class="col-6">
                <q-input dense outlined label="Dirección"  v-model="cliente.direccion"/>
              </div>
              <div class="col-6">
                <q-input dense outlined label="Telefono"  v-model="cliente.telefono"/>
              </div>
              <div class="col-6">
                <q-input dense outlined label="email"  v-model="cliente.email"/>
              </div>
              <div class="col-6">
                <q-select outlined dense :options="plataformas" v-model="plataforma" label="Plataforma" option-value="id" option-label="nombre" emit-value map-options></q-select>
              </div>
              <div class="col-12 flex flex-center">
                <q-btn class="full-width" type="submit" color="positive" icon="edit" label="Guardar"/>
              </div>
            </div>
          </q-form>
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="OK" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
export default{
  data(){
    return{
      formCrearCliente:false,
      filter:'',
      columns:[
        {name: "nombre", field: "nombre", label: "nombre"},
        {name: "paterno", field: "paterno", label: "paterno"},
        {name: "materno", field: "materno", label: "materno"},
        {name: "ci", field: "ci", label: "ci"},
        {name: "extension", field: "extension", label: "extension"},
        {name: "opciones",field: "opciones", label: "opciones"},
      ],
      cliente:{},
      clientes:[],
      extensiones: [
        {label: 'LP', value: 'LP'},
        {label: 'BE', value: 'BE'},
        {label: 'SC', value: 'SC'},
        {label: 'CBBA', value: 'CBBA'},
        {label: 'PA', value: 'PA'},
        {label: 'TR', value: 'TR'},
        {label: 'CH', value: 'CH'},
        {label: 'PT', value: 'PT'},
        {label: 'OR', value: 'OR'},
      ],
      estados_civiles:[],
      plataformas:[]
    }
  },
  created(){
    this.listarClientes();
    this.listarPlataformas();
    this.listarEstadosCiviles();
  },
  methods: {
    listarClientes(){
      this.$q.loading.show();
      this.$api.get('cliente').then(res=>{
        this.clientes=res.data;
        this.$q.loading.hide();
      }).catch(err=>{
        this.$q.loading.hide()
        console.log(err);
      })
    },
    listarEstadosCiviles(){
      this.$q.loading.show();
      this.$api.get('estado_civil').then(res=>{
        this.estados_civiles=res.data;
        this.$q.loading.hide();
      }).catch(err=>{
        this.$q.loading.hide()
        console.log(err);
      })
    },
    listarPlataformas(){
      this.$q.loading.show();
      this.$api.get('plataforma').then(res=>{
        this.plataformas=res.data;
        this.$q.loading.hide();
      }).catch(err=>{
        this.$q.loading.hide()
        console.log(err);
      })
    },
    adicionarCliente(){
      this.cliente={};
      this.formCrearCliente=true;
    },
    guardarCliente(){
      this.$q.loading.show();
      this.$api.post('cliente', this.cliente)
      .then(res=>{
        this.listarClientes();
        this.$q.loading.hide();
      }).catch(err => {
        console.log(err);
        this.$q.loading.hide();
      })
    },
  }
}
</script>
